body {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background: url(../img/fondo.jpg);
	background-position-x: center;
    background-size: cover;
	/*background: #A1D6E2;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #F1F1F2, #A1D6E2);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #F1F1F2, #A1D6E2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form.forma1{
	
	height: 555px;
	width: 498px;
	margin: auto;
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
	border-radius:10px;
	margin-top: 80px ;

	
}

img.imglog{
	
	width: 100px;
	height: 100px;
	position: absolute;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

div#titulot{

    position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
div#botonl{
	
	position: absolute;
  	top: 75%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	
}



div#body2{
	
	margin: auto;
	background: #2471A3;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	border: 6px;
}

h1 {
    text-align: center;
    font-family: "Lucida Console";
    font-size: 30px;
}

h3{
text-align: center;
color: black;
font-size: 40px;
font-family: "Courier New";
}

h2{
text-align: center;
color: black;
font-size: 30px;
font-family: "Courier New";
}

table.regitro {
    width: 30%;
    margin: auto;
	padding: 15px;
	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.regitro1 {
  width: 100%;


}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: #FFF;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  
  
}

button {
  background-color:#1995AD;
  color: #FFF;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 15px;
  padding: auto;
}

button.signupbtn {
    display: block;
    margin:auto;
    width: 100%;
    height: 60px;
    font-size: 25px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}


button:hover {
      background: #2471A3;
}


.navbar-nav1>li {
    margin: 0em 0px 3px 0;
    padding: 0px 0px;
    width: 15%;
    display: inline-block;
   
}

.navbar-nav1>li.capa{width: 16%;}

.navbar-nav1>li a {
    /*border: 1px ;*/
    color: #FFF;
    padding: 5%;
    margin: auto;
    float: left;
    text-align: center;
    width: 100%;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
   /* font-weight: 500;
  	font-size:1.1vw;*/
  	
}
.navbar-nav1>li a:hover{
background: #4DA0DF;
    color: #fff;
}
    
.navbar-nav1>li>a>span {
    font-size: 26px;
    vertical-align: bottom;
    padding: 0 6px 0 0
}
.navbar-nav1 {
    margin: -1em 0em 0em;
    list-style: none;
    width: 100%;
    bottom: 0px;
    display:inline;
}
@media only screen and (max-width: 768px){
.navbar-nav1>li {
    width: 24%; }
  .navbar-nav1>li a{font-size:2vw;}
}
@media only screen and (max-width: 479px){
.navbar-nav1>li {
    width: 32%; }
  .navbar-nav1>li a {font-size: 3vw;}
}
.page-id-335 .oculto {height: 0;
    overflow-y: hidden;
    position: relative;
    width: 100%  !important;
    margin: auto;}
    
.oculto {
    height: 0;
    overflow-y: hidden;
    position: relative;
    width: 65%;
    margin: auto;
}
.oculto h5{
    margin: 0rem auto 1.3rem;
    color:#fff;
}
.boton-volver {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #555;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}
.boton-volver:hover {
    background-color: #ccc;
}
.boton-volver img {
    width: 1.5vw; 
    filter: invert(1);
}


table.Usuarios {
    width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}
table.ventas {
    width: 90%; 
}
table.ventas2 {
    width: 90%;
    padding-left: 30px;
}
table.totalventas {
    float: right;
    margin-right: 121px;
}

table.Clientes {
	width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}

table.proveedores {
	width: 90%; 
    margin: aoto;
	padding: auto;
	border-spacing: 10px;
}

table.productos {
	width: 90%; 
    margin: aoto;
	padding: auto;
}


button.lista{
	 width: 100%;
}
button.consultaVentas {
    width: 100%;
    
}
	

.botones {
    margin-left: 9%;
}

.navbar-nav2>li {
    margin: 0em 0px 3px 0;
    padding: 0px 0px;
    width: 30%;
    display: inline-block;
   
}

.navbar-nav2>li.capa{width:30%;}

.navbar-nav2>li a {
    border: 1px ;
    color: #FFF;
    padding: 5%;
    margin: auto;
    float: left;
    text-align: center;
    width: 100%;
    background: #1995AD;
    cursor: pointer;
    font-size: 20px;
   	font-weight: 500;
  	font-size:1.1vw;
  	
}
.navbar-nav2>li a:hover{
	background: #4DA0DF;
    color: #fff;
}
.listas>thead{
    color: #fff;
}
    
.navbar-nav2>li>a>span {
    font-size: 26px;
    vertical-align: bottom;
    padding: 0 6px 0 0
}
.navbar-nav2 {
    margin: -1em 0em 0em;
    list-style: none;
    width: 100%;
    bottom: 0px;
    display:inline;
}
@media only screen and (max-width: 768px){
.navbar-nav2>li {
    width: 24%; }
  .navbar-nav2>li a{font-size:2vw;}
}
@media only screen and (max-width: 479px){
.navbar-nav2>li {
    width: 32%; }
  .navbar-nav2>li a {font-size: 3vw;}
}
.page-id-335 .oculto {height: 0;
    overflow-y: hidden;
    position: relative;
    width: 100%  !important;
    margin: auto;}
   
.oculto {
    height: 0;
    overflow-y: hidden;
    position: relative;
    width: 65%;
    margin: auto;
}
.oculto h5{
    margin: 0rem auto 1.3rem;
    color:#fff;
}

table.listas{
	background: #fff;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	padding: 20px
}

th, td table.listas{
	padding: 15px;
}
thead {
	background-color: #1995AD;
	border-bottom: solid 5px  #F1F1F2;
  	color: black;	
}

tbody.listas tr:nth-child(even) {
	background-color: #ddd;
}

tbody.listas tr:hover {
	background-color:#F1F1F2 ;
	color: black;
}

table.reportes{
	width: 100%;
}
th, td table.reportes{
	padding: 15px;
}

button.lista {
	width: 100%;
}
