<%- include('partials/_header') -%>
    <h1>Index Template</h1>
    <ul>
        <% users.forEach( function(people){ %>
            <li><%= people.name %></li>
            <% }) %>
    </ul>
    <%- include('partials/_footer') -%>